.log-table {
    display: inline-block;
    width: 60%;
    margin: 10vh auto;
    height: 80vh;
    border: solid grey;
    border-width: 2px 2px 0 2px;
    border-collapse: collapse;
    overflow-y: scroll;
}

.log-table tr {
    display: inline-table;
    width: 100%;
    border-bottom: 2px solid grey;
    height: 30px;
    text-align: center;
}

.log-table tr td {
    vertical-align: middle;
}

.log-table td.floor-cell {
    width: 30%;
}

.log-table td.activity-cell {
    width: 20%;
}

.log-table td.timestamp-cell {
    width: 50%;
}