.immeuble-table {
    margin: 10vh 0 10vh 10%;
    display: inline-block;
    width: 35%;
    vertical-align: middle;
    border: solid grey;
    border-width: 1px 1px 0 1px;
    border-collapse: collapse;
}

.immeuble-table tr {
    display: inline-table;
    width: 100%;
    border-bottom: 1px solid grey;
    height: 8vh;
}

.immeuble-table tr td {
    vertical-align: middle;
}

.immeuble-table td.description {
    width: 50%;
}

.immeuble-table td.indicator {
    width: 20%;
}

.immeuble-table td.button {
    width: 30%;
}

.immeuble-table td.indicator, .immeuble-table td.button {
    text-align: center;
}

.row-indicator {
    display: inline-block;
    width: 30px;
    height: 10px;
    border: 2px solid #333;
}

.row-indicator-on {
    background-color: green;
}

.row-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #525252;
    border-radius: 50%;
    background-color: #a3a5aa;
}

.row-button:hover {
    cursor: pointer;
}

.row-button:hover, .row-button-select {
    border-color: #a3a5aa;
    background-color: #525252;
}