html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

p {
    font-family: Arial, sans-serif, sans;
    font-size: 12px;
}

.caption {
    font-family: Arial, sans-serif, sans;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.clear-float {
    clear: both;
}