.main-container {
    width: 100%;
    height: 100%;
}

.nav-bar {
    width: 100%;
    height: 40px;
    position: fixed;
    text-align: center;
    margin-top: 2px;
    opacity: 0.9;
}

.nav-element {
    display: inline-block;
    width: 35%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    background-color: #333;
    color: #ffd5a9;
    box-shadow: 1px 1px 10px 1px;
}

.nav-left {
    border-radius: 10px 0 0 10px;
}

.nav-right {
    border-radius: 0 10px 10px 0;
}

.nav-element:hover {
    cursor: pointer;
}

.nav-select {
    background-color: #ffd5a9;
    color: #333 !important;
}

.content {
    width: 100%;
    height: 100%;
    text-align: center;
}