.panneau-main {
    display: inline-block;
    border: 10px solid #545454;
    border-radius: 20px;
    width: 20%;
    height: 50vh;
    min-width: 200px;
    min-height: 270px; /* 5*rows + 2*10px border */
    background-color: #2e2e2e;
}

.bouton-table {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

.bouton-table > tr {
    display: inline-table;
    width: 100%;
    height: 10vh;
    min-height: 50px;
}

.bouton-panneau {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 3px solid grey;
    background-color: lightgrey;
    border-radius: 50%;
}

.bouton-panneau:hover {
    cursor: pointer;
}

.bouton-panneau > p.caption {
    color: #333;
}

.bouton-panneau:hover, .bouton-panneau-select {
    background-color: lightyellow !important;
}

.indicator-container {
    display: inline-block;
    width: 40%;
    height: 100%;
    vertical-align: middle;
}

.direction-indicator-container {
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
}

.arrow-wrapper {
    position: absolute;
    bottom: 30px;
}

.arrow {
    display: inline-block;
    width: 100%;
}

.arrow-select .up:after, .arrow-select .down:after {
    border-top: 0.3em solid orangered !important;
    border-right: 0.3em solid orangered !important;
    opacity: 1 !important;
}

.arrow > .up {
    display: inline-block;
    width: 3em;
    height: 3em;
}

.arrow > .up:after {
    content: '';
    display: inline-block;
    margin-top: 1.1em;
    width: 1.2em;
    height: 1.2em;
    border-top: 0.3em solid whitesmoke;
    border-right: 0.3em solid whitesmoke;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0.6;
}

.arrow > .down {
    display: inline-block;
    width: 3em;
    height: 3em;
}

.arrow > .down:after {
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    width: 1.2em;
    height: 1.2em;
    border-top: 0.3em solid whitesmoke;
    border-right: 0.3em solid whitesmoke;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.6;
}


.door-indicator-container {
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
}

.door-wrapper {
    width: 60%;
    margin: 0 20%;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    background-color: whitesmoke;
}

.door-wrapper > a {
    position: absolute;
    top: 0;
    left: 0;
}

.door {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #666;
    transition: all 1s ease-out;
}

.door-left {
    box-shadow: 1px 0 5px 1px #999;
}

.door-right {
    box-shadow: -1px 0 5px 1px #999;
}

.open-door-left {
    transform: translateX(-70%);
}

.open-door-right {
    transform: translateX(70%);
}

.close-door {
    transform: translateX(0);
}

